<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eclipse4.6" sequenceNumber="2">
<locations>
<location path="C:\Progs\eclipse-cpp-neon-M7-win32-x86_64" type="Profile"/>
</locations>
</target>
