<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.tetrade.eclipse.plugins.easyshell"
   name="Easy Shell Plugin"
   version="1.3.4"
   provider-name="Marcel Schoen, Andre Bossert"
   class="com.tetrade.eclipse.plugins.easyshell.EasyShellPlugin">

   <runtime>
      <library name="easyshell.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.expressions"/>
   </requires>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Easy Shell"
            class="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePage"
            id="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.tetrade.eclipse.plugins.easyshell.command.category1"
            name="Easy Shell">
      </category>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.shellOpen"
            name="Easy Shell Open">
      </command>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.shellRun"
            name="Easy Shell Run">
      </command>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.shellExplore"
            name="Easy Shell Explore">
      </command>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.copyPath"
            name="Easy Shell Copy Path">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="com.tetrade.eclipse.plugins.easyshell.menu"
               label="Easy Shell">
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.shellOpen"
                  icon="icon/easyshell.gif"
                  label="Open..."
                  style="push">
            </command>
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.shellRun"
                  icon="icon/run_exc.gif"
                  label="Run..."
                  style="push">
            </command>
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.shellExplore"
                  icon="icon/fldr_obj.gif"
                  label="Explore..."
                  style="push">
            </command>
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.copyPath"
                  icon="icon/copy_edit.gif"
                  label="Copy Path"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester.hasResourceSelection">
                  </test>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.EasyShellCommand"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.shellOpen">
      </handler>
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.EasyShellCommand"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.shellRun">
      </handler>
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.EasyShellCommand"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.shellExplore">
      </handler>
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.EasyShellCommand"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.copyPath">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester"
            id="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester"
            namespace="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester"
            properties="hasResourceSelection"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>

</plugin>
