<?xml version="1.0" encoding="UTF-8"?>
<plugin>

     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Easy Shell"
            class="com.tetrade.eclipse.plugins.easyshell.preferences.PreferencePageMain"
            id="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePageMain">
      </page>
      <page
            category="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePageMain"
            class="com.tetrade.eclipse.plugins.easyshell.preferences.PreferencePageInstance0"
            id="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePage0"
            name="Easy Shell 0">
      </page>
      <page
            category="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePageMain"
            class="com.tetrade.eclipse.plugins.easyshell.preferences.PreferencePageInstance1"
            id="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePage1"
            name="Easy Shell 1">
      </page>
      <page
            category="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePageMain"
            class="com.tetrade.eclipse.plugins.easyshell.preferences.PreferencePageInstance2"
            id="com.tetrade.eclipse.plugins.easyshell.preferences.EasyShellPreferencePage2"
            name="Easy Shell 2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.tetrade.eclipse.plugins.easyshell.command.category1"
            name="Easy Shell">
      </category>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.shellOpen"
            name="Easy Shell Open">
         <commandParameter
               id="com.tetrade.eclipse.plugins.easyshell.Open.InstanceID"
               name="name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.shellRun"
            name="Easy Shell Run">
         <commandParameter
               id="com.tetrade.eclipse.plugins.easyshell.Run.InstanceID"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.shellExplore"
            name="Easy Shell Explore">
         <commandParameter
               id="com.tetrade.eclipse.plugins.easyshell.Explore.InstanceID"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.tetrade.eclipse.plugins.easyshell.command.category1"
            id="com.tetrade.eclipse.plugins.easyshell.command.copyPath"
            name="Easy Shell Copy Path">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <menu
               icon="icon/easyshell.gif"
               id="com.tetrade.eclipse.plugins.easyshell.menu"
               label="Easy Shell">
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.shellOpen"
                  icon="icon/easyshell.gif"
                  label="Open..."
                  style="push">
               <parameter
                     name="com.tetrade.eclipse.plugins.easyshell.Open.InstanceID"
                     value="0">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <instanceof
                        value="com.tetrade.eclipse.plugins.easyshell.Object1">
                  </instanceof>
               </visibleWhen>
            </command>
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.shellRun"
                  icon="icon/run_exc.gif"
                  label="Run..."
                  style="push">
               <parameter
                     name="com.tetrade.eclipse.plugins.easyshell.Run.InstanceID"
                     value="0">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <instanceof
                        value="com.tetrade.eclipse.plugins.easyshell.Object2">
                  </instanceof>
               </visibleWhen>
            </command>
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.shellExplore"
                  icon="icon/fldr_obj.gif"
                  label="Explore..."
                  style="push">
               <parameter
                     name="com.tetrade.eclipse.plugins.easyshell.Explore.InstanceID"
                     value="0">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <instanceof
                        value="com.tetrade.eclipse.plugins.easyshell.Object3">
                  </instanceof>
               </visibleWhen>
            </command>
            <command
                  commandId="com.tetrade.eclipse.plugins.easyshell.command.copyPath"
                  icon="icon/copy_edit.gif"
                  label="Copy Path"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <instanceof
                        value="com.tetrade.eclipse.plugins.easyshell.Object4">
                  </instanceof>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester.hasResourceSelection">
                  </test>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            class="com.tetrade.eclipse.plugins.easyshell.command.DefineCommands"
            locationURI="popup:com.tetrade.eclipse.plugins.easyshell.menu">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.CommandHandler"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.shellOpen">
      </handler>
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.CommandHandler"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.shellRun">
      </handler>
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.CommandHandler"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.shellExplore">
      </handler>
      <handler
            class="com.tetrade.eclipse.plugins.easyshell.command.CommandHandler"
            commandId="com.tetrade.eclipse.plugins.easyshell.command.copyPath">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester"
            id="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester"
            namespace="com.tetrade.eclipse.plugins.easyshell.EditorPropertyTester"
            properties="hasResourceSelection"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="EasyShell Variables"
            name="easyshell"
            resolver="com.tetrade.eclipse.plugins.easyshell.DynamicVariableResolver"
            supportsArgument="true">
      </variable>
   </extension>

</plugin>
