<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="EasyShell"
            id="de.anbos.eclipse.easyshell.plugin.commands.category">
      </category>
      <command
            name="EasyShell Execute"
            categoryId="de.anbos.eclipse.easyshell.plugin.commands.category"
            id="de.anbos.eclipse.easyshell.plugin.commands.execute">
         <commandParameter
               id="de.anbos.eclipse.easyshell.plugin.commands.parameter.type"
               name="type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="de.anbos.eclipse.easyshell.plugin.commands.parameter.value"
               name="value"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.anbos.eclipse.easyshell.plugin.handlers.CommandHandler"
            commandId="de.anbos.eclipse.easyshell.plugin.commands.execute">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <menu
               icon="icons/easyshell.gif"
               id="de.anbos.eclipse.easyshell.plugin.menu"
               label="EasyShell">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="de.anbos.eclipse.easyshell.plugin.EditorPropertyTester.hasResourceSelection">
                  </test>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            class="de.anbos.eclipse.easyshell.plugin.commands.DefineCommands"
            locationURI="popup:de.anbos.eclipse.easyshell.plugin.menu">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.anbos.eclipse.easyshell.plugin.preferences.CommandsPage"
            id="de.anbos.eclipse.easyshell.plugin.preferences.PresetsPage"
            name="EasyShell">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.anbos.eclipse.easyshell.plugin.preferences.Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.anbos.eclipse.easyshell.plugin.EditorPropertyTester"
            id="de.anbos.eclipse.easyshell.plugin.EditorPropertyTester"
            namespace="de.anbos.eclipse.easyshell.plugin.EditorPropertyTester"
            properties="hasResourceSelection"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="EasyShell Variables"
            name="easyshell"
            resolver="de.anbos.eclipse.easyshell.plugin.DynamicVariableResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="EasyShell Variables"
            name="container_loc"
            resolver="de.anbos.eclipse.easyshell.plugin.DynamicVariableResolver"
            supportsArgument="true">
      </variable>
   </extension>

</plugin>
