body {background:white;
}
hr {background:green;
	background-color:blue;}

div.topbar {
padding:0.1em;
 background-color: #eeeeff;
 border-width: 1px ;
 border-style: solid ;
 border-color: black;
 vertical-align:bottom;

}
a.thispage {  font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 font-variant: normal;
 font-weight: bold;
 font-size: 10pts;
 vertical-align: middle;
 text-decoration:none;
 margin-right: 0.5em;
 padding:0.2em;

 border-width: 0px;
 border-style: solid;
 border-color: blue;
 
 color:white;
 background:#00008b;
}
a.topbarlink , img.topbarlink{
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 font-variant: normal;
 font-weight: bold;
 font-size: 10pts;
 vertical-align: middle;
 text-decoration:none;
 margin-right: 0.5em;
 padding:0.2em;


 border-width: 0px;
 border-style: solid;
 border-color: blue;
}

a.topbarlink:visited, a.topbarlink:link {
color:black;
}
a.topbarlink:active {
color: white;

}
a.topbarlink:hover {
background: #bbbbff;
}



